html {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	background: #222;
	color: #fff;
	font-family: 'Fira Mono', monospace;
	font-size: 16px;
}

a {
	color: #fff;
}

a:hover {
	color: #ddd;
}

/* MAPA */

.mapa {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	/*
	max-width: 1280px;
	*/
}

.mapa-viewport,
.mapa-vis {
	width: 100vw;
	height: 75vw;
	/*	
	max-width: 1280px;
	max-height: 960px;
	*/
	transition: all 0.3s;
	overflow: hidden;
	}

	.show-info .mapa-viewport,
	.show-info .mapa-vis {
		width: calc(100vw - 300px);
		height: calc(75vw - 225px);
	}

.mapa-info {
	position: absolute;
	width: 300px;
	top: 0;
	right: 0;
	transform: translate(300px,0);
	transition: all 0.3s;
	padding: 20px 30px 30px;
	box-sizing: border-box;
	background: rgba(0,0,0,.1);
	}
	.show-info .mapa-info {
		transform: translate(0,0);	
	}

	.mapa-info-close {
		float: right;
	}

	.mapa-info-content {
		font-family: 'Fira Sans', sans-serif;
		font-weight: 200;
		clear: both;
		margin-top: 15px;
		color: rgba(255,255,255,0.8);
	}
	
	.mapa-info-content p {
		font-size: 0.75em;
	}

	.mapa-info-content .title {
		font-weight: 400;
		font-size: 0.875em;
		color: #fff;
	}

	.mapa-info-content .subtitle {
		font-weight: 400;
		font-size: 0.625em;
		color: #fff;
	}

	.mapa-info-content strong {
		font-weight: 400;
	}

	.mapa-info .loading {
		display: none;
		margin-top: 10px;
	}
	
	.mapa-info.is-loading .loading {
		display: block;
	}

	.mapa-info-content ul {
		margin: 0;
		padding: 0;
		margin-left: 14px;
	}

	.mapa-info-content li {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		list-style-position:inside;
	}



/* MAPA VIS D3 */

.legenda .legenda-line {
	stroke: #fff;
	stroke-opacity: 0.05;
	stroke-width: 2px;
}

.legenda .legenda-text {
	fill: #fff;
	opacity: 0.7;
	font-size: 0.75em;
}

.links path {
	stroke: #fff;
	stroke-opacity: 0.1;
	stroke-width: 1px;
	fill: none;
	/*transition: stroke-opacity 0.2s, stroke-width 0.2s;*/
}

.show-info.highlight path.highlight,
.highlight path {
	stroke-opacity: 0.05;
}

.show-info path {
	stroke-opacity: 0;
}

.show-info path.show,
.show-info path.show.highlight,
.highlight path.highlight {
	stroke-opacity: 0.25;
	stroke-width: 2px;
}

.node circle {
	/*stroke: #fff;*/
	/*stroke-width: 1.5px;*/
	cursor: pointer;
	transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.node circle:hover {
	fill: #fff;
	stroke: #000;
	stroke-width: 4px;
	transform: scale(1.2);
}

.show-info .node circle {
	opacity: 0.5;
}

.highlight .node.highlight circle,
.show-info .node.show circle {
	opacity: 1;
}

.label {
	font-size: 0.6875em;
	fill: #fff;
	pointer-events: none;
/*	stroke: #000;
	stroke-width: 4px;
	stroke-linecap: round;
	stroke-linejoin: miter;
	paint-order: stroke;*/
	transition: opacity 0.3s;
}

.label.node-politica,
.label.node-app,
.label.node-servico,
.show-info .label,
.show-info .label.show.node-politica,
.show-info .label.show.node-app,
.show-info .label.show.node-servico {
	opacity: 0;
}

.show-info .label.show {
	opacity: 1;
}

.label.hidden {
	opacity: 0;
}

/* TOOLTIP */

.tooltip {
	position: absolute;
	top: 0;
	left: 0;
	/*transition: opacity 0.3s;*/
	opacity: 0;
	width: 300px;
	text-align: center;
	margin-left: -150px;
	display: none;
}

.tooltip.show {
	/*transition: opacity 0.1s;*/
	opacity: 1;
	display: block;
}

.tooltip-wrapper {
	background: rgba(0,0,0,0.85);
	padding: 12px 20px 10px 14px;
	display: inline-block;
}

.tooltip-title {
	font-size: 0.5625em;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.tooltip-text {
	font-size: 0.75em;
	text-align: left;
	line-height: 1.4em;
}

.tooltip .dud {
	opacity: 0.3;
}
