.site-nav {
	
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	background: rgba(darken($color-bg, 2%), .9);
	padding: 30px;
	text-align: center;
	z-index: 1;
	box-sizing: border-box;

	font-size: 16px;
	line-height: 1em;

	&.fixed {
		position: fixed;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
		margin: 0 20px;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		opacity: 0.5;

		&:hover, &.ativo {
			opacity: 1;
		}

		&.ativo {
			font-weight: 600;
		}
	}


}

.site-nav-spacer {
	height: 160px;
}

.site {

	section {
		display: none;
		.content {
			padding: 30px;

			small {
				
				a {
					color: #fff;
				}
			}
		}
	}

	.historias iframe {
		position: relative;
		top: 76px;
		width: 100vw;
		height: calc(100vh - 76px);
	}

}
