.site-nav {
	
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	background: rgba(darken($color-bg, 2%), .9);
	padding: 30px;
	text-align: center;
	z-index: 1;
	box-sizing: border-box;

	font-size: 16px;
	line-height: 1em;

	&.fixed {
		position: fixed;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
		margin: 0 10px;
		@include tablet {
			& {
				margin: 0 20px;
			}
		}
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		opacity: 0.5;

		&:hover, &.ativo {
			opacity: 1;
		}

		&.ativo {
			font-weight: 600;
		}
		
		@include mobile {
			& span.hide {
				display: none;
			}
		}
	}


}

.site-nav-spacer {
	height: 100px;
	@include tablet {
		& {
			height: 160px;
		}
	}
}

.site {
	
	display: none;

	body.iphone &.has-iframe{
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
	}

	&.after-landing {
		display: block;
	}

	section {
		display: none;
		.content {
			padding: 30px;

			small {
				
				a {
					color: #fff;
				}
			}
		}
	}

	.historias {

		html.ios & {
			-webkit-overflow-scrolling: touch;
			overflow-y: scroll;
  		}
  		
  		position: fixed;
		top: 76px;
		width: 100vw;
		height: calc(100vh - 76px);

		iframe {
			width: 100vw;
			height: calc(100vh - 76px);
		}
	}

}
