.site-nav {
	
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	background: rgba(darken($color-bg, 2%), .9);
	padding: 30px;
	text-align: center;
	z-index: 1;
	box-sizing: border-box;

	font-size: 16px;
	line-height: 1em;

	&.fixed {
		position: fixed;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
		margin: 0 10px;
		@include tablet {
			& {
				margin: 0 20px;
			}
		}
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		opacity: 0.5;

		&:hover, &.ativo {
			opacity: 1;
		}

		&.ativo {
			font-weight: 600;
		}
		
		@include mobile {
			& span.hide {
				display: none;
			}
		}
	}


}

.site-nav-spacer {
	height: 100px;
	@include tablet {
		& {
			height: 160px;
		}
	}
}

.site {
	
	display: none;

	body.iphone &.has-iframe{
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
	}

	&.after-landing {
		display: block;
	}

	section {
		display: none;
		.content {
			padding: 30px;

			small {
				
				a {
					color: #fff;
				}
			}
		}
	}

	.historias {

		html.ios & {
			-webkit-overflow-scrolling: touch;
			overflow-y: scroll;
  		}
  		
  		position: fixed;
		top: 76px;
		width: 100vw;
		height: calc(100vh - 76px);

		iframe {
			width: 100vw;
			height: calc(100vh - 76px);
		}
	}

	.video-embed {
		margin: 2em 0;
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;

		iframe, object, embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.sobre .content small {
		//color: #ffc28f;
		font-family: 'Fira Mono', monospaced;
		opacity: 0.6;
	}

	.sobre-footer {
		
		font-family: 'Fira Mono', monospaced;
		background: rgba(0,0,0,0.1);
		padding: 3em 0;
		
		.itslogo {
			display: block;
			img {
				transition: all 0.2s;
				&:hover {
					transform: scale(1.1,1.1);
				}
			}
		}

		img {
			@include tablet {
				margin-right: 100px;
			}
		}

		h3 {
			font-size: 0.7em;
			line-height: 1.2em;
			margin-bottom: 0;
			color: #ffc28f;
		}
		
		ul {
			list-style: none;
			margin: 0.5em 0;
			padding: 0;
			@include tablet {
				margin-right: 50px;
			}
		}

		li {
			font-size: 0.75em;
			line-height: 1.5em;
		}
	}

}
