html {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	background: #222;
	color: #fff;
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #ddd;
	text-decoration: underline;
}




/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.5); 
}