@charset "utf-8";


@import "../node_modules/bulma/sass/utilities/initial-variables";

$text: #fff;
$text-strong: #fff;

$color-bg: #2b2735;

// @import "../node_modules/bulma/bulma";
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/elements/container";
@import "../node_modules/bulma/sass/elements/content";
@import "../node_modules/bulma/sass/grid/columns";
@import "base";
@import "site";
@import "landing";
@import "mapa";
@import "responsive";